@{
    ViewData["Title"] = "Credits";

    /*
    Dupla:
    Gabriel Ferreira de Souza
    Rian Gustavo Quintanilha de Aquino
    */
}
<h1>@ViewData["Title"]</h1>

<h3>Dupla</h3>

<ul>
    <li>Gabriel Ferreira de Souza</li>
    <li>Rian Gustavo Quintanilha de Aquino</li>
</ul>
