@{
    ViewData["Title"] = "Home Page";

    /*
    Dupla:
    Gabriel Ferreira de Souza
    Rian Gustavo Quintanilha de Aquino
    */
}


<div class="text-center">
    <h1 class="display-4">TP 02 - Sistemas Web II</h1>

    <div class="page-list">
        <article>
            <a href="BLs">
                <img src="https://safety4sea.com/wp-content/uploads/2019/11/shutterstock_1412675480-e1573821442708.jpg" />
                <h3>BLs</h3>
            </a>
        </article>
        <article>
            <a href="Containers">
                <img src="https://hocxuatnhapkhau247.com/wp-content/uploads/2022/06/Container-la-gi_2.jpg" />
                <h3>Containers</h3>
            </a>
        </article>
    </div>
</div>
